#btnReiniciarPartida {
  margin-bottom: 15px;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
}

table tr td {
  border: 2px solid #000;
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}